<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Mission to Mars 
    <br><a href="/scrape" <button type="button" class="btn btn-danger">Scrape New Data</button></a>
    </h1>
      
    <h3 class="header-left">Latest Mars News</h3>
      <strong>{{ mars_data.news_title }}</strong><br>
        {{ mars_data.news_paragraph}}
        <hr>
          <br>
            <div class="row">
                <div class="col-md-8">
                    <h3 class="header-left">Featured Mars Image</h3>
                      <img src="{{ mars_data.featured_image_url | default('static/images/error.png', true) }}" class="img-responsive" alt="Featured Image">
                </div>
                <div class="col-md-4">
                    <h4 class="header-left">Mars Facts</h4>
                      <table class="table">{{ mars_data.mars_t_html | safe}}
                      </table>
                </div>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <br>
                    <h3 class="header-center">Mars Hemispheres</h3>
                    <hr>
                    <div class="row">
                      <div class="col-md-3">
                        <img src="{{ mars_data.hemispheres[0]["link"] }}" alt="Cerberus Hemisphere image" class="img-thumbnail" />
                       <h4>{{ mars_data.hemispheres[0]["title"] }}</h4>
                       </div>
                       <div class="col-md-3">
                       <img src="{{ mars_data.hemispheres[1]["link"] }}" alt="Schiaparelli Hemisphere Image" class="img-thumbnail" />
                       <h4>{{ mars_data.hemispheres[1]["title"] }}</h4> 
                       </div>
                       <div class="col-md-3">
                       <img src="{{ mars_data.hemispheres[2]["link"] }}" alt="Syrtis Major Hemisphere image" class="img-thumbnail" />
                       <h4>{{ mars_data.hemispheres[2]["title"] }}</h4> 
                       </div>
                       <div class="col-md-3">
                        <img src="{{ mars_data.hemispheres[3]["link"] }}" alt="Valles Marineris Hemisphere Image" class="img-thumbnail" />
                       <h4>{{ mars_data.hemispheres[3]["title"] }}</h4> 
                      </div>
                  </div>
              </div>
          </div>
        </div>
</body>

</html>