<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h1 style="text-align: center">Mission to Mars</h1>
        <hr>
        <p style="text-align: center">Use the "Scrape New Data" button to retrieve the latest mars news, featured image, mars facts, and hemisphere images.</p>
          <div class="container">
            <div style="text-align: center">
          <a href="/scrape" <button class="btn btn-outline-danger" type="button">Scrape New Data</button></a>
        </div>
        </div>
        </div>
        <br>
    <div class="container">
    <u><h3 class="header-left">Latest News</h3></u>
      <strong>{{ mars_data.news_title }}</strong><br>
        {{ mars_data.news_paragraph}}
        <hr></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Featured Mars Image</h3>
                      <img src="{{ mars_data.featured_image_url | default('static/images/error.png', true) }}" class="img-responsive" alt="Featured Image">
                    </div>
                <div class="col-md-4">
                    <h5>Mars Facts</h5>
                      <table>{{ mars_data.mars_t_html | safe}}
                      </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <br>
                <br>
                    <h2 class="header-center">Mars Hemispheres</h2>
                    <hr>
                    <div class="row">
                      <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                        <a href="{{ mars_data.hemispheres[0]["link"] }}"><img src="{{ mars_data.hemispheres[0]["link"] }}" alt="Cerberus Hemisphere image" class="card-img-top" /></a>
                          <div class="card-body">
                            <h4 class="card-title">{{ mars_data.hemispheres[0]["title"] }}</h4>
                          </div>
                      </div>
                      </div>
                    <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                        <a href="{{ mars_data.hemispheres[1]["link"] }}"><img src="{{ mars_data.hemispheres[1]["link"] }}" alt="Cerberus Hemisphere image" class="card-img-top" /></a>
                          <div class="card-body">
                            <h4 class="card-title">{{ mars_data.hemispheres[1]["title"] }}</h4>
                          </div>
                      </div>
                      </div>
                    <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                        <a href="{{ mars_data.hemispheres[2]["link"] }}"><img src="{{ mars_data.hemispheres[2]["link"] }}" alt="Cerberus Hemisphere image" class="card-img-top" /></a>
                          <div class="card-body">
                            <h4 class="card-title">{{ mars_data.hemispheres[2]["title"] }}</h4>
                          </div>
                      </div>
                      </div>
                    <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                        <a href="{{ mars_data.hemispheres[3]["link"] }}"><img src="{{ mars_data.hemispheres[3]["link"] }}" alt="Cerberus Hemisphere image" class="card-img-top" /></a>
                          <div class="card-body">
                            <h4 class="card-title">{{ mars_data.hemispheres[3]["title"] }}</h4>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
</body>

</html>