<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Mission to Mars</h1>
    <h3 class="header-left">Latest Mars News</h3>
        <hr>
          <br>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="header-left">Featured Mars Image</h3>
                </div>
                <div class="col-md-6">
                    <h4 class="header-left">Mars Facts</h4>
                </div>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <br>
                    <h3 class="header-center">Mars Hemispheres</h3>
                    <hr>
                  </div>
              </div>
          </div>
</body>

</html>